In [ ]:
Q1. What is data encoding? How is it useful in data science?

In [ ]:
Data encoding refers to the process of converting data from one format or representation to another.
In the context of data science, data encoding is often used to transform categorical or text data into 
a format that can be easily processed by machine learning algorithms or other analytical tools.

Numeric encoding involves representing categorical or textual data using numerical values.
This is particularly useful for machine learning algorithms that require numerical input. 

Label Encoding: In label encoding, each category or label is assigned a unique numerical value. 
This is suitable for ordinal data where the order matters. For example,
transforming ["red", "green", "blue"] to [0, 1, 2].

One-Hot Encoding: One-hot encoding creates binary columns for each category 
and indicates the presence or absence of a category with a 1 or 0,

In [ ]:
Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

In [ ]:
Nominal encoding is a type of data encoding used for categorical variables where there is no inherent order or ranking
among the categories. It assigns a unique numerical value to each category, without implying any particular order.
Nominal encoding is particularly useful when dealing with variables that represent distinct and unrelated categories.

One common technique for nominal encoding is "one-hot encoding," where binary columns are created for each category, indicating
the presence or absence of that category for each data point.

a real-world scenario where you have a dataset containing information about different types of fruits. The "fruit_type" 
variable is a nominal categorical variable with categories such as "apple," "banana," and "orange."

In [ ]:
Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

In [ ]:
Nominal encoding and one-hot encoding serve different purposes, and the choice between 
them depends on the nature of the data and the requirements of the machine learning task.
Here are situations in which nominal encoding might be preferred over one-hot encoding:
    
Reducing Dimensionality:

Nominal encoding is a compact representation compared to one-hot encoding, especially
when dealing with high-cardinality categorical variables. If the number of categories
is large, one-hot encoding can lead to a sparse matrix with many columns, potentially 
causing computational issues and increased memory usage. 

Avoiding the Dummy Variable Trap:

One-hot encoding introduces dummy variables, and in certain situations,
this can lead to multicollinearity issues known as the "dummy variable trap."
This occurs when one variable can be predicted from the others, leading to redundant
information. Nominal encoding avoids this trap by representing the categorical variable
using a single column with integer-encoded values

In [ ]:
Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding
technique would you use to transform this data into a format suitable for machine learning algorithms?
Explain why you made this choice.

In [ ]:

The choice of encoding technique depends on the nature of the categorical data and the requirements of the machine learning algorithm. 
In general, if the categorical variable has no inherent order or hierarchy among its values, and there is no ordinal relationship,
one-hot encoding is often a suitable choice. One-hot encoding represents each category as a binary column, indicating the presence 
or absence of that category for each data point

One-hot encoding preserves the distinctiveness of each category. Each unique value in the categorical variable gets its own binary
column, ensuring that there is no implied order or hierarchy among the categories.

Many machine learning algorithms work well with one-hot encoding, as it provides a clear and unambiguous representation of 
the categorical data. Algorithms like decision trees, random forests, and most linear models can easily handle one-hot encoded features.

In [ ]:
Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns
are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to
transform the categorical data, how many new columns would be created? Show your calculations.

In [ ]:
f you use nominal encoding on a categorical variable with k
unique values, it typically results in k  new columns using one-hot encoding.
Each column represents one of the unique values, and for each row, 
the corresponding column is assigned a value of 1 if the original categorical variable matches 
that value and 0 otherwise.

In [4]:
data = { 
    'catgory' :['A','B','A','C','B'],
    'catgory2':['X','Y','X','Z','Y'],
    'num'     :[10,20,30,40,50],
    'num2'    :[100,200,300,400,500]
}

In [9]:
import pandas as pd
df = pd.DataFrame(data)
catg_col = ['catgory','catgory2']
pd.get_dummies(df,columns = catg_col)

,num,num2,catgory_A,catgory_B,catgory_C,catgory2_X,catgory2_Y,catgory2_Z
0,10,100,1,0,0,1,0,0
1,20,200,0,1,0,0,1,0
2,30,300,1,0,0,1,0,0
3,40,400,0,0,1,0,0,1
4,50,500,0,1,0,0,1,0

In [ ]:
Q6. You are working with a dataset containing information about different types of animals, including their
species, habitat, and diet. Which encoding technique would you use to transform the categorical data into
a format suitable for machine learning algorithms?

In [ ]:
he choice of encoding technique for transforming categorical data into a 
format suitable for machine learning algorithms depends on the nature of the categorical variables and
the specific requirements of the machine learning task. Two common encoding
techniques are nominal encoding and ordinal encoding.
]
Use one-hot encoding when the categorical variables have no inherent order
or hierarchy among their values. This technique represents each category as a binary column, 
indicating the presence or absence of that category for each data point. It is suitable for
situations where there is no meaningful order or rank among the categories.

In [ ]:
Q7.You are working on a project that involves predicting customer churn for a telecommunications
company. You have a dataset with 5 features, including the customer's gender, age, contract type,
monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical
data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

In [ ]:
step-by-step explanation
1.Identify Categorical Variables:
2. Explore Categorical Variables: example, check the unique values for "gender" and "contract type" to determine if they are nominal or ordinal.
 3.Choose Encoding Techniques:   
4. Standardize Numerical Features:

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
pd.get_dummies(df,columns = ['gender','contract_type'])
scaler = StandardScaler()
scaler.fit_transform(df[['age','monthly_charges','tenure')